

.agency h2 {
  font-size: 80px;
  color: #F8982C;
  text-align: center;
  margin-bottom: 60px;
}

.agency-list{
  list-style: none;
  display: flex;
  gap: 40px;
}

.agency-title1 {
  color: #BE49E8;
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 32px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.agency-title2 {
  color: #5398E9;
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 32px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.agency-title3 {
  color: #2BBC5D;
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 32px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.agency-item-1{
  border: 1px solid #BE49E8;
  padding: 60px 20px;
  border-radius: 4px;
}

.agency-item-2{
  border: 1px solid #5398E9;
  padding: 60px 20px;
  border-radius: 4px;
}

.agency-item-3{
  border: 1px solid #2BBC5D;
  padding: 60px 20px;
  border-radius: 4px;
}

.agency-list p {
  font-size: 20px;
  color: #989898;
}