

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

#btn-mobile {
  display: none;
}

.header-logo p {
  font-size: 35px;
  color: #F97D26;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.header-menu li {
  font-size: 18px;
  color: #7C7C7C;
}

.header-menu li a {
  padding: 10px 40px;
}

.header-button {
  color: #fff;
  background-color: #F97D26;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .header-logo {
    width: 23px;
    height: 23px;
  }

  .header-logo p {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .header-menu {
    display: none;
  }

  #btn-mobile {
    display: block;
  }

  #nav.active .header-menu {
    display: flex;
  }
}