* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.container {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;;
}